* {
   font-family: verdana;
}

h3{
   color:#4D6A8A;
   font-size: 18;
   margin-top: 5pt;
}

h2{
   color:#4D6A8A;
   font-size: 18;
   margin-top: 5pt;
   text-align: center;
}

#multi {
   margin-left: auto;
   margin-right: auto;
   width: 75%;
   top: 10px;
   position: relative;
}

#gameList {
   position:absolute;
   border-right:1px solid black;
   width:160px;
   padding:10px;
   left:10px;
   overflow: auto;
}

.game {
   position:relative;
   background-color:#FAF2E8;
   border:1px solid black;
   height:90%;
   left:215px;
   width: 1000px;
   padding-right:23px;
   overflow: auto;
}

.ruleList {
   position:absolute;
   border-right: 1px solid black;
   height: 100%;
   width: 250px;
   padding: 6px;
   overflow: auto;
}

.rule {
   position:relative;
   height: 100%;
   left: 265px;
   padding: 6px;
   width: 75%;
   text-align: center;
}


#gameElem {
   position:absolute;
   height:90%;
   top:20px;
   left:250px;
   right:20px;
}

.rule:target {
   display: block;
}

.rule {
   display: none;
}

.isruleedit ~ .viewrule {
   display:block;
}

.isruleedit ~ .editrule {
   display:none;
}

.isruleedit:checked ~ .viewrule {
   display:none;
}

.isruleedit:checked ~ .editrule {
   display:block;
}

#IORule {
   border:1px dotted black;
   padding:10px;
   padding-bottom:0px;
   padding-top:0px;
   margin-bottom:10px;
   display: block;
   max-height:450pt;
   overflow-y:auto;
}

.table {
   border:2px solid black;
   border-collapse:collapse;
   padding:6px;
}

.td {
   border:1px solid black;
   padding:6px;
}

#codeDiv {
   padding:3px;
}

pre {
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

thead {
   font-weight:bold
}

#victory {
   float:left;
   margin-left:5%;
   padding:10px;
}


#showCodeLink {
   text-align:right;
}

.button {
   text-decoration: none;
   background-color: #EEEEEE;
   color: #333333;
   padding: 2px 6px 2px 6px;
   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
   margin: 3px;
   cursor: pointer;
   font-size: 22;
}

.buttonTD {
   padding: 6px;
}

.showHide {
   position: absolute;
   right: 15px;
}

#header {
   background: #F4F4F4 url(/static/pictures/header-bg.jpg) repeat-x;
   height:30pt;
   opacity:0.7;
   font:
}

#footer {
   border-top:1px solid silver;
   border-bottom:1px solid silver;
   margin-top:10px;
   margin-bottom:10px;
   color:gray;
   padding-top:10px;
   padding-bottom:5px;
   background-color:#F4F4F4;
   bottom:0;
   position:absolute;
   width:100%;
}

input[type="file"]{
   font: normal 11px Arial;
}


.modalDialog {
   position: fixed;
   font-family: Arial, Helvetica, sans-serif;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   z-index: 99999;
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   transition: opacity 400ms ease-in;
   pointer-events: none;
}

.modalDialog:target {
   opacity:1;
   pointer-events: auto;
}

.modalDialog > div {
   width: 1000px;
   position: relative;
   margin: 10% auto;
   padding: 5px 20px 13px 20px;
   border-radius: 10px;
   background: #fff;
}

.close {
   background: #606061;
   color: #FFFFFF;
   line-height: 25px;
   position: absolute;
   right: -12px;
   text-align: center;
   top: -10px;
   width: 24px;
   text-decoration: none;
   font-weight: bold;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -moz-box-shadow: 1px 1px 3px #000;
   -webkit-box-shadow: 1px 1px 3px #000;
   box-shadow: 1px 1px 3px #000;
}

.close:hover {
   background: #00d9ff;
}

.modalWindow {
   position: fixed;
   font-family: arial;
   font-size:80%;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.2);
   z-index: 99999;
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   transition: opacity 400ms ease-in;
   pointer-events: none;
}

.modalButton {
   background: #606061;
   color: #FFFFFF;
   line-height: 25px;
   text-align: center;
   text-decoration: none;
   font-weight: bold;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 1px 1px 3px #000;
   -webkit-box-shadow: 1px 1px 3px #000;
   box-shadow: 1px 1px 3px #000;
   width:80px;
   float:right;
   margin-left:20px;
}

.modalWindow:target {
   opacity:1;
   pointer-events: auto;
}
.modalWindow > div {
   width: 500px;
   position: relative;
   margin: 10% auto;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background: #fff;
   padding-left:20px;
   padding-right:10px;
   padding-top:5px;
   padding-bottom:10px;
   max-height: 70%;
}

#InputForm {
   display:inline;
}

#modalCode {
   overflow: auto;
   height: 60%;
}

pre {
   -moz-tab-size:    16;
   -o-tab-size:      16;
   -webkit-tab-size: 16;
   -ms-tab-size:     16;
   tab-size:         16;
}

.playasform {
   font-size: large;
   font-weight: bold;
   padding-bottom:10px;
}

#ruleName {
   font-weight: bold;
   margin-top: 15pt;
}

#proposedBy {
   font-style: italic;
   color: blue;
}

.ruleCode {
    width:100%;
}

.ruleDescr {
    width:50%;
}

#playerName {
   padding-right: 20pt;
}

#headerTitle {
   color: white;
   font-size: 18;
   font-family: verdana;
   font-weight: bold;
}
